/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

button.btn-primary {
    color: #FFFDFD;
    background-color: #005082;
}

button.btn-secondary {
    color: #FFFDFD;
    background-color: #00A8CC;
}

button.btn {
    grid-column-start: 2;
    border-radius: 0.50rem;
}

.form-group {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

input {
    grid-column-start: 2;
}

input.form-control {
    background-color: lightgray;
}

.form-control {
    border-radius: 0.50rem;
}

.form-actions {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}