<div class="container-fluid">

  <div *ngIf="!addingChild && !childAdded">

    <h1 class="text-center">Children</h1>

    <div *ngFor="let child of children" class="form-actions text-center padding-bottom btn-tall">
      <button
        *ngIf="child.id"
        class="child btn btn-primary size-7-font"
        attr.data-cy="child-{{child.firstName}}"
        (click)="selectChild(child.id)">
        {{child.firstName}}
      </button>
    </div>

    <div class="text-center">
      <button
        data-cy="add-child"
        class="btn btn-secondary circle-button"
        (click)="toggleAddChildDisplay()">
        +
      </button>
    </div>

  </div>

  <div *ngIf="!addingChild && childAdded">
    <h1 class="text-center">Child Added</h1>
    <p class="text-center">Please have your child check their email for an account confirmation message</p>

    <div class="form-actions text-center">
      <button
        data-cy="done"
        class="btn btn-primary"
        (click)="doneAddingChild()">
        Done
      </button>
    </div>
  </div>

  <div *ngIf="addingChild">
    <h1 class="text-center">Add Child</h1>

    <form>
  
      <div class="inputs">
  
        <div
          *ngIf="firstNameMissing || emailMissing || emailInvalid || errorAddingChild || childDuplicate"
          class="error text-center">
          <div *ngIf="firstNameMissing">First Name Missing</div>
          <div *ngIf="emailMissing">Email Missing</div>
          <div *ngIf="emailInvalid">Email Invalid</div>
          <div *ngIf="errorAddingChild">Failed to add child</div>
          <div *ngIf="childDuplicate">Child's email already used</div>
        </div>

        <div
          *ngIf="!(firstNameMissing || emailMissing || emailInvalid || errorAddingChild || childDuplicate)"
          class="error-placeholder">
        </div>

        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="first-name"
            data-cy="first-name"
            placeholder="first name"
            [(ngModel)]="firstName"
          />
        </div>
  
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            name="email"
            data-cy="email"
            placeholder="email"
            [(ngModel)]="email"
          />
        </div>
  
        <div class="form-actions text-center">
          <button
            type="submit"
            data-cy="submit"
            class="btn btn-primary"
            (click)="addChild()">
            Submit
          </button>
        </div>
  
      </div>
    </form>
  
    <div class="form-actions text-center padding-top">
      <button
        type="cancel"
        data-cy="cancel"
        class="btn btn-secondary"
        (click)="toggleAddChildDisplay()">
        Cancel
      </button>
    </div>
  </div>

</div>
