<div class="container-fluid">

  <h1 class="text-center">{{selectedChild?.firstName}}'s Assigned Chores</h1>

  <div data-cy="assigned-chore-list">
    <div *ngFor="let assignedChore of choresAssigned"
      class="form-actions text-center padding-bottom btn-tall"
      data-cy="assigned-chore">
      <button
        class="btn btn-primary size-7-font">
        {{assignedChore?.name}}
      </button>
    </div>
  </div>
  
  <div class="text-center">
    <button
      data-cy="assign-chore"
      class="btn btn-secondary circle-button"
      (click)="navigateToAssignChoreScreen()">
      +
    </button>
  </div>  
</div>