@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.navbar {
    background-color: #FFA41B;
    font-family: 'Permanent Marker', cursive;

    display: flex;
    justify-content: center;
}

.navbar-brand {
    font-size: 2.5rem;
}