<nav data-cy="nav-bar" class="navbar navbar-dark">

  <app-back-button></app-back-button>

  <a class="navbar-brand mb-0 h1 text-dark" href="#">Bounty Board</a>
</nav>

<router-outlet></router-outlet>