button.circle-button {
    font-size: 5em;
    border-radius: 5.0em;
    height: 30vw;
    width: 30vw;
}

button.size-7-font {
    font-size: x-large;
}

div.btn-tall {
    height: 6em;
}

div.padding-bottom {
    padding-bottom: 1.5em;
}

div.padding-top {
    padding-top: 1em;
}