<div class="container-fluid">

  <div *ngIf="!assignChoreConfirmation">
    <h1 class="text-center">Assign Chore to {{selectedChild.firstName}}</h1>
  
    <div data-cy="available-chore-list">
      <div *ngFor="let availableChore of availableChores" class="form-actions text-center padding-bottom btn-tall">
        <button
          class="btn btn-primary size-7-font"
          data-cy="available-chore"
          (click)="onSelectChoreForAssignment(availableChore)">
          {{availableChore?.name}}
        </button>
      </div>
    </div>
  
    <div class="text-center">
      <button
        data-cy="add-chore"
        class="btn btn-secondary circle-button"
        (click)="navigateToAddChoreScreen()">
        +
      </button>
    </div>
  </div>
  
  <div *ngIf="assignChoreConfirmation"
    data-cy="confirmation">
    <h1 class="text-center">Would you like to assign the chore, {{selectedChore?.name}}, to {{selectedChild.firstName}}?</h1>
  
    <div class="form-actions text-center">
      <button
        data-cy="confirmation-option"
        class="btn btn-primary"
        (click)="confirmAssignmentOfChore()">Yes</button>
    </div>
    
    <div class="form-actions text-center padding-top">
      <button
        data-cy="confirmation-option"
        class="btn btn-secondary"
        (click)="cancelAssignmentOfChore()">No</button>
    </div>
  </div>
</div>