<div class="container-fluid">
  <h1 class="text-center">Sign In</h1>

  <form>

      <div class="inputs">

        <div class="form-group">
          <input
            type="email"
            class="form-control"
            name="email"
            data-cy="email"
            placeholder="email"
            [(ngModel)]="email"
          />
        </div>

        <div class="form-group">
          <input
            type="password"
            class="form-control"
            name="password"
            data-cy="password"
            placeholder="password"
            [(ngModel)]="password"
          />
        </div>

    </div>

    <div class="form-actions text-center">
      <button
        type="submit"
        data-cy="submit"
        class="btn btn-primary"
        (click)="signIn()">
        Submit
      </button>
    </div>
  </form>
  <div class="text-center">
    Don't have an account?
    <a
      class="signup"
      id="signupLink"
      routerLink="/{{signUpPath}}">
      Sign Up
    </a>
  </div>
</div>
