@import '../../../../node_modules/bootstrap/scss/_mixins.scss';
$grid_breakpoints: (xs: 0, sm: 425px, md: 768px, lg: 992px, xl: 1200px);

@include media-breakpoint-up(md) {
  .inputs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0% 30% 0% 30%;
  }
}

@include media-breakpoint-up(xl) {
  .inputs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0% 35% 0% 35%;
  }
  
}

a.signup {
  display: block;
}