<div class="container-fluid">
    <h1 class="text-center">Sign Up</h1>

    <form>

        <div class="inputs">

            <div
              *ngIf="emailInvalid || passwordMismatch || emailDuplicate"
              class="error text-center">

              <div *ngIf="emailInvalid">Email Invalid</div>

              <div *ngIf="passwordMismatch">Password Mismatch</div>

              <div *ngIf="emailDuplicate">Account Already Exists</div>
            </div>

            <div
              *ngIf="!(emailInvalid || passwordMismatch || emailDuplicate)"
              class="error-placeholder">
            </div>

            <div class="form-group">
                <input
                    type="email"
                    class="form-control"
                    name="email"
                    data-cy="email"
                    placeholder="email"
                    [(ngModel)]="email"
                />
            </div>

            <div class="form-group">
                <input
                    type="password"
                    class="form-control"
                    name="password"
                    data-cy="password"
                    placeholder="password"
                    [(ngModel)]="password"
                />
            </div>
            
            <div class="form-group">
                <input
                    type="password"
                    class="form-control"
                    name="matchingPassword"
                    data-cy="matchingPassword"
                    placeholder="re-type password"
                    [(ngModel)]="passwordConfirmation"
                />
            </div>

        </div>

        <div class="form-actions text-center">
            <button
            type="submit"
            data-cy="submit"
            class="btn btn-primary"
            (click)="signUp()">
            Submit
            </button>
        </div>
    </form>

    <div class="text-center">
        Already have an account?
        <a
          class="signin"
          routerLink="/{{loginPath}}">
          Sign In
        </a>
    </div>
</div>