<div class="container-fluid">

  <h1 class="text-center">Add Chore</h1>
  
  <div
    *ngIf="choreDuplicate || errorAddingChore || choreNameMissing"
    class="error text-center">
    <div *ngIf="choreDuplicate">Chore Already Exists</div>
    <div *ngIf="errorAddingChore">Failed to add chore</div>
    <div *ngIf="choreNameMissing">Chore Name Missing</div>
  </div>
  
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="chore-name"
      data-cy="chore-name"
      placeholder="chore name"
      [(ngModel)]="choreName"
    />
  </div>
  
  <div class="form-actions text-center">
    <button
      type="submit"
      data-cy="submit"
      class="btn btn-primary"
      (click)="addAvailableChore()">
      Submit
    </button>
  </div>
  
  <div class="form-actions text-center padding-top">
    <button
      type="cancel"
      data-cy="cancel"
      class="btn btn-secondary"
      (click)="navigateToAssignChoreScreen()">
      Cancel
    </button>
  </div>
</div>